html {
	font-size: 100%;
}

.wrap {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0;
}

.clear {
	clear: both;
}

.nav li {
	list-style: none;
}

.list__divider {
	width: 1px;
}

.list--horizontal li {
	display: inline-block;
}

.top-40 {
	width: 100%;
	padding: .5rem;
	border-bottom: 1px solid #777;
}

.top-40__stack, .top-40__img--sm, .top-40__btn-group {
	float: left;
}

.top-40--feature {
	width: 100%;
	height: 600px;
	background: url(../images/n-1-bg.png) no-repeat center center ;
	position: relative;
	color: #ffffff;
}

.top-40--feature__content {
	position: absolute;
	bottom: 0;
	* {
		position: relative;
	}
}

.top-40__img--lg {
	width: 15rem;
	height: 14.552rem;
	border: 0.41rem solid #ffffff;
	float: left;
	@include breakpoint(max-width $bp-m) {
		float: none;
		margin: auto auto;
	}
}

.top-40__img--sm {
	height: 7rem;
	width: 7rem;
}

.btn {

}

.top-40__btn-group {
	float: right;
}

.pop-over__trigger {
	position: relative;
}

.pop-over {
	position: absolute;
	float: none;
	background-color: #333;
}

.pop-over--active {
	display: visible;
}

.pop-over--inactive {
	display: hidden;
}
