/* 
Typoggraphic Scale: 16px @ 1:1.25
http://modularscale.com/scale/?px1=16&px2=&ra1=1.25&ra2=0
*/

/* Import Custom Made Social Icon Font */
@font-face {
	font-family: 'social-icons';
	src:url('../fonts/social-icons.eot?xjrx3n');
	src:url('../fonts/social-icons.eot?#iefixxjrx3n') format('embedded-opentype'),
		url('../fonts/social-icons.woff?xjrx3n') format('woff'),
		url('../fonts/social-icons.ttf?xjrx3n') format('truetype'),
		url('../fonts/social-icons.svg?xjrx3n#social-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon--social {
	font-family: 'social-icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.heading--main {
	font-size: 5.961rem;
}
.heading--large {
	font-size: 3.815rem;
}

.top-40__heading--large {
	font-size: 1.563rem;
	font-family: "brandon-grotesque";
	display: block;
	text-transform: uppercase;
	letter-spacing: .11rem;
}

.top-40__heading--medium {
	font-size: 1.25rem;
	font-family: "museo-slab";
	font-weight: 500;
	display: block;
	text-transform: uppercase;
}

.top-40__heading--small {
	font-size: 1rem;
	font-family: "museo-slab";
	font-weight: 500;
	display: block;
	text-transform: uppercase;
}

.icon--social {
	font-size: 5.961rem;
	color: #fff;
}