/* Breakpoint Variables */
$bp-xxl: 1200;
$bp-xl: 1120;
$bp-l: 960;
$bp-m: 35.528rem;
$bp-s: 300;


/* Masonry Dimension Variables */
$masonry-width: 960;
$col-width: $masonry-width/4;
$col-margin: 0;

/* Site Colors */
$purple: #8a59a5;
	$dark-purple: #6f156c;
$blue: #49c3ca;
$green: #c1d72e;
$yellow: #faec41;
$orange: #f89c33;
$pink: #ee3496;
$dark-grey: #959595;
$light-grey: #D6D6D6;

/* Theme Variables */
$text-light: $light-grey;
$text-dark: $dark-grey;
$main: $dark-purple;
$accent-1: $yellow;
$accent-2: $orange;
$accent-3: $green;