html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* em Function */
/* Breakpoint Variables */
/* Masonry Dimension Variables */
/* Site Colors */
/* Theme Variables */
/* PAGE LAYOUT */
html {
  font-size: 100%;
}

.wrap {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
}

.clear {
  clear: both;
}

.nav li {
  list-style: none;
}

.list__divider {
  width: 1px;
}

.list--horizontal li {
  display: inline-block;
}

.top-40 {
  width: 100%;
  padding: .5rem;
  border-bottom: 1px solid #777;
}

.top-40__stack, .top-40__img--sm, .top-40__btn-group {
  float: left;
}

.top-40--feature {
  width: 100%;
  height: 600px;
  background: url(../images/n-1-bg.png) no-repeat center center;
  position: relative;
  color: #ffffff;
}

.top-40--feature__content {
  position: absolute;
  bottom: 0;
}
.top-40--feature__content * {
  position: relative;
}

.top-40__img--lg {
  width: 15rem;
  height: 14.552rem;
  border: 0.41rem solid #ffffff;
  float: left;
}
@media (max-width: 35.528rem) {
  .top-40__img--lg {
    float: none;
    margin: auto auto;
  }
}

.top-40__img--sm {
  height: 7rem;
  width: 7rem;
}

.top-40__btn-group {
  float: right;
}

.pop-over__trigger {
  position: relative;
}

.pop-over {
  position: absolute;
  float: none;
  background-color: #333;
}

.pop-over--active {
  display: visible;
}

.pop-over--inactive {
  display: hidden;
}

/* 
Typoggraphic Scale: 16px @ 1:1.25
http://modularscale.com/scale/?px1=16&px2=&ra1=1.25&ra2=0
*/
/* Import Custom Made Social Icon Font */
@font-face {
  font-family: 'social-icons';
  src: url("../fonts/social-icons.eot?xjrx3n");
  src: url("../fonts/social-icons.eot?#iefixxjrx3n") format("embedded-opentype"), url("../fonts/social-icons.woff?xjrx3n") format("woff"), url("../fonts/social-icons.ttf?xjrx3n") format("truetype"), url("../fonts/social-icons.svg?xjrx3n#social-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon--social {
  font-family: 'social-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading--main {
  font-size: 5.961rem;
}

.heading--large {
  font-size: 3.815rem;
}

.top-40__heading--large {
  font-size: 1.563rem;
  font-family: "brandon-grotesque";
  display: block;
  text-transform: uppercase;
  letter-spacing: .11rem;
}

.top-40__heading--medium {
  font-size: 1.25rem;
  font-family: "museo-slab";
  font-weight: 500;
  display: block;
  text-transform: uppercase;
}

.top-40__heading--small {
  font-size: 1rem;
  font-family: "museo-slab";
  font-weight: 500;
  display: block;
  text-transform: uppercase;
}

.icon--social {
  font-size: 5.961rem;
  color: #fff;
}

/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* FOOTER */
